@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap");
@import url("https://use.typekit.net/thy6bhp.css");
@import "_course.scss";

body {
  padding: 0px;
  margin: 0px;
  font-family: proxima-nova, sans-serif;
  background-color: #f3f3f3;
}

.background {
  top: -50px;
  left: -30px;
  z-index: -4;
  position: fixed;
  width: 110vw;
  height: 120vh;

  filter: blur(0px) brightness(60%);
}

.background-blur {
  @extend .background;
  filter: blur(0px) brightness(50%);
  display: none;
}


.top-span {
  display: flex;
  flex-direction: row;
  width: 100%;

  @media screen and (max-width:1200px) {
    flex-direction: column;
  }

  &>div {
    width: 50%;
    height: 400px;


    @media screen and (min-width: 0px) {
      width: 100%;
      min-height: 500px;
    }

    @media screen and (min-width: 700px) {
      height: 100vh;
    }

    @media screen and (max-width:1200px) {
      height: 50vh;
      min-height: 500px;
    }
  }
}

.nav-unit {
  text-align: center;
  color: white;
  font-size: 25px;
  margin-top: 10px;

  &>a {
    text-decoration: none;
    font-size: 35px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.top-span-left {
  color: white;
  background-color: #00a0ebce;
  // backdrop-filter: blur(8px);
  clip-path: polygon(0 0,
      97% 0,
      83% 100%,
      0 100%);

  @media screen and (max-width:1200px) {
    clip-path: none;
  }

  display: flex;

  &>div {
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

    @media screen and (max-width:2000px) {
      width: 650px;
    }

    @media screen and (max-width:1500px) {
      width: 500px;
    }

    @media screen and (max-width:1200px) {
      width: 75%;

    }

    // border: 1px solid grey;

    &>#next {
      display: inline;
      width: fit-content;
      font-size: 30px;
      // background-color: rgb(2, 39, 77);
      // border: 2px solid rgb(0, 10, 29);
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 0px;
      // text-shadow: 2px 2px 0px #012a46;
      color: rgb(215, 239, 255);
      font-weight: bold;
      text-align: left;
      margin: 0px;
      margin-bottom: 20px;
      font-style: italic;

      @media screen and (max-width:2000px) {
        font-size: 28px;
      }

      @media screen and (max-width:1500px) {
        font-size: 24px;
      }

      @media screen and (max-width:1200px) {
        margin-top: 60px;
      }



      // border-radius: 10px;
      // @media screen and (max-height: 1100px) {
      //   margin-top: -50px;
      // }
    }

    &>#itemtitle {

      display: block;
      font-weight: bold;
      font-size: 55px;
      color: rgb(255, 255, 255);
      text-shadow: -3px 3px 0 #015a83;

      @media screen and (max-width:2000px) {
        font-size: 45px;
      }

      @media screen and (max-width:1500px) {
        font-size: 40px;
      }
    }

    &>#itemsubtitle {
      font-size: 30px;
      color: rgb(190, 234, 255);

      @media screen and (max-width:2000px) {
        font-size: 30px;
      }

      @media screen and (max-width:1500px) {
        margin-top: 20px;
        font-size: 22px;
      }
    }


    &>a {
      margin-top: 30px;
      text-decoration: none;
      width: 250px;


      @media screen and (max-width:1500px) {
        width: 200px;
      }


      &>#gotobutton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        background-color: #db001d;
        text-align: center;
        height: 60px;
        font-size: 28px;
        font-weight: bold;
        border-radius: 10px;
        text-shadow: 2px 2px 0px #5f0327;
        padding: 6px;
        // box-shadow: 2px 2px 4px #3c044d;

        box-shadow: -4px 4px 0px #630303;

        @media screen and (max-width:2000px) {
          font-size: 28px;
          height: 60px;
        }

        @media screen and (max-width:1500px) {
          font-size: 25px;
          height: 55px;
        }

      }
    }
  }


}

.navbar {
  position: fixed;
  width: 100%;
  // box-shadow: 0px 1px 3px #0595d8;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  @media screen and (max-width:1200px) {
    background-color: #024a6b78;
  }

  &>.brandlogo {
    margin-top: 10px;
    width: 102px;
    height: 58px;
    margin-left: 50px;
  }

  &>#right {
    display: flex;
    flex-direction: row;



    &>.userlogo {
      width: 60px;
      height: 60px;
      margin-right: 40px;
      margin-top: 17px;
      margin-left: 17px;
    }

    &>div {
      font-weight: bold;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;
      font-size: 18px;

      @media screen and (max-width:1200px) {
        color: white;
      }
    }
  }

  &>ul {
    display: flex;


    &>a {
      text-decoration: none;
      padding: 14px;

      &>li {
        margin-left: 20px;
        margin-right: 20px;
        display: inline;
        font-weight: bold;
        color: rgb(29, 29, 29);
        font-size: 20px;

        &>#active {
          color: rgb(8, 118, 209);
        }
      }
    }
  }
}

.top-span-right {
  display: flex;

  &>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 850px;
    margin: auto;

    @media screen and (max-width:2000px) {
      width: 650px;
    }

    @media screen and (max-width:1500px) {
      width: 550px;
    }

    @media screen and (max-width:1200px) {
      width: 700px;
    }

    @media screen and (max-width:1000px) {
      width: 600px;
    }

    @media screen and (max-width:800px) {
      width: 500px;
    }

    @media screen and (max-width:550px) {
      width: 400px;
    }

    @media screen and (max-width:420px) {
      width: 350px;
    }


    &>#sectionTitle {
      font-weight: bold;
      font-size: 25px;
      border: 2px solid #e46a07;
      border-bottom: 2px solid #e46a07;
      background-color: #e46a07; // text-shadow: 2px 2px 0px rgb(23, 30, 41);
      padding: 23px;

      margin: 0px;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      padding-left: 30px;
      padding-bottom: 20px;

      @media screen and (max-width: 1500px) {
        padding: 17px;
        padding-top: 21px;
      }

      &>a {
        color: white;
        text-decoration: none;

        @media screen and (max-width:1500px) {
          font-size: 22px;
        }

        @media screen and (max-width:800px) {
          font-size: 20px;
        }
      }

      &>.gotocourse {
        float: right;
        text-shadow: none;
        font-size: 23px;

        &>a {
          text-decoration: none;
          font-weight: 200;
          color: rgb(255, 255, 255);

          @media screen and (max-width:1500px) {
            font-size: 20px;
          }
        }
      }
    }

    &>#sectionContents {
      border: 2px solid #ffffff;
      border-top: none;
      border-radius: 10px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      background-color: rgb(255, 255, 255);

      &>ul {
        list-style: none;
        padding: 0px;
        margin: 0px;

        &>a {
          text-decoration: none;
          width: 100%;

          &>li {
            // border-bottom: 2px solid rgb(231, 231, 231);
            box-shadow: 0 4px 3px -2px rgb(228, 228, 228);
            padding: 27px;
            // border-bottom: 2px solid rgb(219, 219, 219);
            color: rgb(29, 29, 29);
            display: flex;
            flex-direction: row;

            @media screen and (max-width: 1500px) {
              padding: 20px;
            }

            &>.contentItemTitle {
              font-weight: thin;
              font-size: 24px;

              @media screen and (max-width: 1500px) {
                font-size: 20px;
              }

              @media screen and (max-width:800px) {
                font-size: 20px;
              }

              @media screen and (max-width:420px) {
                font-size: 17px;
              }
            }

            &>.contentItemProgress {
              margin: auto;
              margin-right: 0px;
              font-weight: bold;
              font-size: 20px;
              color: rgb(0, 0, 0);

              @media screen and (max-width:800px) {
                display: none;
              }
            }
          }

        }

        &>a:last-child>li {
          border: none;
          box-shadow: none;
        }
      }
    }
  }
}

.minihide {
  // @media screen and (max-width:800px) {
  //   display: none;
  // }
}

.mastered {
  color: rgb(255, 255, 255);
  background-color: rgb(6, 168, 6);
  // border: 1px solid rgb(4, 107, 4);
  border-radius: 5px;
  padding: 6px;
  padding-left: 9px;
  padding-right: 9px;

  @media screen and (max-width:1500px) {
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.notmastered {
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 6px;
  padding-left: 13px;
  padding-right: 13px;
  // border: 2px solid grey;
  background-color: rgb(185, 185, 185);

  @media screen and (max-width:1500px) {
    font-size: 16px;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.selected {
  color: #ffffff;
  font-weight: bold;
  padding-left: 10px;
  background-color: rgb(255, 255, 255);
}

.selectedtext {
  color: rgb(12, 12, 12);
}